*, *::before, *::after { box-sizing: border-box; }

html, body {
    height: 100%;
}

body {
    background: #caf0f8;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;

}

button {
    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    padding: 10px;
}

ul li {
    list-style: none;
}

h1 {
    margin: 0 0 5px 0;
    line-height: 1;
    text-align: center;
}

.container {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    background: #48cae4;
    border-radius: 25px;
    box-shadow: 12px 12px 0 0 #1b4332;
}


.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monitor {
    font-size: 15px;
    background: rgba(0,0,0,.2);
    border-radius: 100vw;
    margin: 10px 0 0;
    padding: 5px 10px;
}

#monitor li {
    display: inline-block;
}

#monitor li span {
    margin: 0 10px 0 0;
}

#monitor li:last-child span {
    margin: 0;
}

#board {
display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: 80px;
    grid-auto-rows: 80px;
    gap: 10px;
    margin: 18px 0;
}

#board li {
    background: #f4d35e;
    border-radius: 18px;
    box-shadow: 6px 7px 5px -4px #1b4332;
    border: 1px solid #1b4332;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: transform 150ms;
    font-size: 0;
}

#board li img {
    width: 100%;
    height: 100%;
    transition: opacity 300ms, visibility 300ms;
    visibility: hidden;
    opacity: 0;
}

#board li.open {
    transform: rotateY(0);
}

#board li.open img {
    visibility: visible;
    opacity: 1;
}

#start {
    border-radius: 10px;
    background: #23d16c;
    color: #f2f2f2;
    outline: none;
    font-size: 23px;
    padding: 3px 20px;
    border: 2px solid #1b4332;
    cursor: pointer;
    transition: transform 150ms;
}

#start:hover {
    transform: translateY(-3px);
}